$fontSize: 1.4em;
$fontWeight: bold;

$defaultMargin: 0.5rem;
$defaultPadding: 1rem;

$buttonHeight: 80px;

$mainAndHeaderBackground: #141332;
$whiteColor: white !important;
$orangeColor: #FD7612 !important;

$borderNone: none;
