@import './mixins';
@import 'components/all';
@import 'fonts';

* {
  font-family: 'Heebo' !important;
}

body {
  margin: 0;
  background: #393C88 !important;
  @include flex-content;
}

.ant-typography {
  margin: 0 !important;
}
